.doctor-card {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(to bottom right, #6b8cc3, #007BFF); /* Blue background color */
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  max-width: 650px;
  position: relative;

}

.doctor-name {
  font-size: 24px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20px;
  left: 20px;
  color: #ffffff;
  background: #6b8cc3;
  padding: 5px 10px;
  border-radius: 20px;
}

.doctor-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.doctor-image {
  width: 220px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.doctor-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.doctor-info {
  flex: 1;
  text-align: left;
}

.doctor-bio {
  padding-top: 10px;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
  .doctor-card {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .doctor-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .doctor-details {
    text-align: center;
  }
}
